:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.ui.inverted.menu {
  margin: auto;
}
.placeList {
  width: 80vw;
  display: grid;

  justify-content: center;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  margin-top: 50px;
  grid-row-gap: 1rem;
  grid-column-gap: 30px;
  padding-bottom: 40px;
}
/* button */
.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
/* end button */

/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */
/* Hero */
.defaultHero,
.roomsHero {
  height: 500px;
  background: url("/img/place2.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  background-image: url("/img/defaultHero.jpg");
  min-height: 60vh;
}
/* End of Hero */

.ad {
  width: 85vw;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  margin-top: 50px;
  grid-row-gap: 2rem;
  padding-bottom: 50px;
}
.ui.basic.green.button {
  color: white;
}
p.addText {
  width: 400px;
  margin: auto;
  padding-bottom: 10px;
}
.ui.two.buttons {
  margin-top: 10px;
}
h1.heroTitle {
  position: absolute;
  background: -webkit-linear-gradient(#eddcbd, #5d564a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 470px;
  right: 190px;
  font-size: 5rem;
  color: white;
}
h2.heroTitle2 {
  position: absolute;
  top: 570px;
  right: 190px;
  font-size: 4rem;
  background: -webkit-linear-gradient(#eddcbd, #5d564a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
}
img {
  width: 400px;
  opacity: 1;
}

h2:first-child {
  margin-top: 90px;
}
.close-btn {
  position: absolute;
  display: block;
  top: 3%;
  right: 5%;
}
.close-btn:hover {
  background: white;
  width: 20px;
  border-radius: 50%;
}
.grid {
  margin-bottom: 50px;
}
.hero {
  position: relative;
  width: 100%;
  height: 1000px;
  opacity: 1;
  padding-bottom: 50px;
}

.imageAd {
  border-radius: 5px;
  box-shadow: 5px 5px 26px -5px rgba(0, 0, 0, 0.35);
}
.imgaeText {
  position: relative;
}
img.food {
  width: 500px;
  border-radius: 5px;
  box-shadow: 5px 5px 26px -5px rgba(0, 0, 0, 0.35);
}
h1 {
  padding-top: 10px;
}
h3 {
  padding-top: 20px;
}
.btn {
  margin-top: 10px;
}
.box {
  margin-bottom: 10px;
}
/*Loading*/
.loading {
  width: 80vw;
  margin: auto;
}
.ui.segment {
  height: 260px;
}
/*End loading*/

/*SinglePlace*/
.gridPlace {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  width: 80vw;
  padding-bottom: 50px;
  margin: 0 auto;
}
img.singlePlaceImg {
  width: 900px;
  border-radius: 5px;
}
.ui.card {
  margin: 0 auto;
}
/*End SinglePlace*/
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: #222e2e;
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: white;
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: white;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
/*Banner*/
.banner {
  display: relative;
  color: black;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background-color: #564f44;
  margin: 1rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/*End Banner*/

/*Table*/
.ui.vertical.steps {
  height: 300px;
}
.table1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  margin: 0 auto;
  grid-column-gap: 5px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.content {
}
/*Footer*/
.footer {
  height: 450px;
  background: #222e2e;
}
.footerHeader {
  padding-top: 40px;
  color: white;
}
i {
  color: #f7f7f7;
}
.iconList {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 25vw;
  margin: 0 auto;
}
.ui.form {
  width: 50vw;
  padding-top: 50px;
  margin: 0 auto;
}
.label {
  color: white;
}
/*EndTable*/
/*EndFooter*/
@media only screen and (max-width: 600px) {
  h1.heroTitle {
    top: 170px;
    right: 30px;
    font-size: 1.9rem;
  }
  h2.heroTitle2 {
    position: absolute;
    top: 200px;
    right: 30px;
    font-size: 1.7rem;
    background: -webkit-linear-gradient(#eddcbd, #5d564a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
  }
  .bannerHeader {
    font-size: 1rem;
  }
  img.hero {
    max-width: 100%;
    height: 400px;
    padding-bottom: 0px;
    background-size: cover;
  }
  img.imageAd {
    width: 80vw;
  }

  h1 {
    font-size: 1.3rem;
    padding-top: 0px;
  }
  .placeList {
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 0px;
    grid-row-gap: 5px;
  }
  .grid {
    width: 90vw;
  }
  div.ui.card {
    margin: 0 auto;
  }
  p.addText {
    width: 85vw;
    margin: auto;
    justify-content: center;
  }
  div.ad {
    margin-bottom: 0px;
  }
  .banner h1 {
    font-size: 2rem;
  }
  .banner {
    padding-bottom: 0px;
  }
  .table1 {
    display: grid;
    grid-template-columns: 1fr;
    width: 80vw;
    margin: 0 auto;
    grid-column-gap: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  img.food {
    width: 80vw;
    margin: 0;
    justify-content: center;
  }
  .ui.celled.table {
    width: 70vw;
    margin: 0;
  }
  .iconList {
    margin: auto;
    width: 70vw;
    justify-content: center;
  }
  .ui.form {
    width: 90vw;
    padding-top: 20px;
    margin: 0 auto;
    color: white;
  }
  .ui.vertical.steps {
    height: auto;
  }

  .gridPlace {
    display: block;
    grid-template-rows: 1fr 1fr;
    width: 80vw;
    padding-bottom: 40px;
    margin: 0 auto;
  }
  img.singlePlaceImg {
    width: 80vw;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .hero {
    width: 100%;
    height: 450px;
  }
  .imageAd {
    width: 90vw;
  }
  h1 {
    font-size: 1.5rem;
    padding-top: 30px;
  }
  .placeList {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  div.ui.card {
    margin: 0 auto;
  }
  .ui.celled.table {
    display: grid;
    width: 90vw;
  }
}
@media only screen and (min-width: 1200px) {
}
